@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576121072655'); /* IE9 */
  src: url('iconfont.eot?t=1576121072655#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABsQAAAKKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBTIFFATYCJAMICwYABCAFhG0HMRvsBciemjwpAqwJawJg+Q2AEwRR7Zffs2+PdgNIMhIIVFQcob9IhvKJUYkwjOoDua9v/6crjCkkKs+zJWpNNX1HfrvTl4b1PE6jFEJyd8JcAwSYmW+Frzz4/3M5vWssDWR+oBzX3jSpF2AcUEBjbYqsgA6AG8ZuojxUTZ2GAIYUbYWauv0J6mjAJAFkZNCzoF7zodFO0ovgFqzUyBouvGpenQGs8t/Lb4Z5QeFyAGUdW7gwfgzTHH/Ar58i+EEw1rsABygCaJAeYaxNCXHoJUysTAY4VrHAt5FAgBqQo/55iBtQGARAks57Jj4WPCqWCgANuIEqQOOkDHAHGYt2Hw5d3J3bMSELW/7t0ZCtvX0bunh40BOykMuiu2lTRmttrO0xUpwVCMS7xU018dD8G/MP9l/MX7P8PT2FEvLjR/ARoZrli2ZoXWeL9ZBg32M+HCdcyTQhCZYt5ChhmiRhhJ0xEHAGVOsPxYaTxujfQkv+e60G4CX29lyjGeYAvKe1C/w+/sAmHQuBXumQL0wpqlRvq8JggADTFeFnqir6XlOCl+g7dnhILsHBSxaqiUXgwlIMbryUg6HQar0lkigh2gcUeGkghHmDIoRTcAjzQTXxCy5i/IObsBww9BW5oyWnQVM9RZaSi/YTA4dTg4zazIoP5F1jS6pCzriQ5EEQB91+M7milGSJOfnNG6oaNMIJLrXzKI4ZM+GQHO36qtmo1zOiD3UdTqBJNUEsiriQ7QkFHCxlaHvVbH3/gHiuYhZRNIy4L4jIBd2jga7+AHQlSwc1PMo7uRvPkFIGMgRLoKU2jMRiDGXiYSHiUF3+hEhmpAdbmaGy7vaK5O92AAagVgIHOnhGBskOLAYAAAA=') format('woff2'),
  url('iconfont.woff?t=1576121072655') format('woff'),
  url('iconfont.ttf?t=1576121072655') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576121072655#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e66c";
}

